@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", sans-serif;
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 130%;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

p {
  font-family: "Urbanist", sans-serif;
  margin: 0;
}

a,
button {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

nav {
  background-color: #1c1814;
  padding: 30px 0;
}
nav .nav_container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
nav .nav_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .toggle {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  nav .toggle {
    display: none;
  }
}
nav .toggle .line {
  width: 100%;
  height: 2px;
  background-color: white;
}
nav .navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  transition: all ease-in 0.2s;
}
@media (max-width: 955px) {
  nav .navigation {
    gap: 30px;
  }
}
@media (max-width: 840px) {
  nav .navigation {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  nav .navigation {
    display: none;
  }
}
nav .navigation a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color ease-in 0.2s;
}
nav .navigation a:hover {
  color: #c99e71;
}

header {
  background-image: url(../images/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 97px 0;
}
@media (max-width: 768px) {
  header {
    padding: 60px 0;
  }
}
header .header_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 768px) {
  header .header_flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
header .header_text_box {
  max-width: 530px;
}
@media (max-width: 768px) {
  header .header_text_box {
    max-width: 100%;
    text-align: center;
  }
}
header .header_text_box h1 {
  color: white;
}
@media (max-width: 768px) {
  header .header_text_box h1 {
    font-size: 50px;
    text-align: center;
  }
}
@media (max-width: 450px) {
  header .header_text_box h1 {
    font-size: 30px;
  }
}
header .header_text_box p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 500;
  line-height: 180%;
  margin-top: 32px;
}
@media (max-width: 768px) {
  header .header_text_box p {
    margin-top: 26px;
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  header .header_text_box p {
    font-size: 16px;
  }
}
header .header_text_box button {
  color: white;
  margin-top: 64px;
  padding: 24px 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #c99e71;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .header_text_box button {
    margin: 0 auto;
    margin-top: 50px;
  }
}
header .header_image_box img {
  cursor: pointer;
}
@media (max-width: 768px) {
  header .header_image_box {
    margin-top: 50px;
  }
}

main {
  background-color: #14110E;
}
main .section_1 {
  padding: 100px 20px;
}
@media (max-width: 769px) {
  main .section_1 .flex {
    flex-direction: column;
    justify-content: center;
  }
}
main .section_1 .card {
  max-width: 366px;
  width: 100%;
  margin-top: 30px;
  margin-right: 15px;
}
main .section_1 .card h3 {
  color: white;
  margin-bottom: 24px;
}
main .section_1 .card h3 .coffee_color {
  margin-right: 10px;
  color: #C99E71;
}
@media (max-width: 850px) {
  main .section_1 .card h3 {
    font-size: 20px;
  }
}
@media (max-width: 769px) {
  main .section_1 .card h3 {
    font-size: 24px;
  }
}
main .section_1 .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 769px) {
  main .section_1 .card {
    margin-right: 0;
  }
}
main .section_1 .card:last-child {
  margin-right: 0;
}/*# sourceMappingURL=index.css.map */